@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.smallbox {
  border: none;
  width: 377px;
  height: 100%;
  padding: 24px, 16px, 24px, 16px;
  box-shadow: 0 1px 10px rgba(0.3, 0.3, 0.3, 0.3);
  border-radius: 5px;
}

.title {
  font-family: "inter";
  font-weight: 600;
  font-style: "semi bold";
  font-size: 20px;
}

.inputbox {
  width: 269px;
  height: 40px;
  border-radius: 6px;
  border: solid 1px #e4e4e7;
  padding: 8px, 16px, 8px, 16px;
  padding-left: 10px;
}
.btn {
  height: 45px;
  width: 60px;
  border-radius: 6px;
  border: none;
  background-color: #3c82f6;
  color: white;
  margin-left: 6px;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  background-color: #6ca4fe;
}
.btn:active {
  background-color: #9abcf3;
}

.btndiv {
  display: flex;
  width: 345px;
  height: 32px;
  gap: 6px;
  margin-left: 16px;
  margin-top: 19px;
  margin-bottom: 20px;
}

.all {
  width: 38px;
  height: 32px;
  padding: 4px, 12px, 4px, 12px;
  border-radius: 6px;
  border: none;
  color: #363636;
  background-color: #f3f4f6;
  cursor: pointer;
}

.active {
  width: 60px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background-color: #f3f4f6;
  color: #363636;
  gap: 10px;
  cursor: pointer;
}

.completed {
  width: 87px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background-color: #f3f4f6;
  color: #363636;
  gap: 10px;
  cursor: pointer;
}

.activebtn {
  background: #1e90ff;
  color: white;
  border-color: #1e90ff;
}

.active .text {
  font-family: "inter";
  font-weight: 400;
  font-style: "regular";
  font-size: 14px;
  color: #6b7280;
  margin-top: 32px;
}
.footertxt {
  font-family: "inter";
  font-weight: 400;
  font-style: "regular";
  font-size: 12px;
  color: #6b7280;
  margin-top: 25px;
}
.link {
  color: #3b73ed;
  text-decoration: none;
}
.task-list li {
  width: 320px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  border: none;
  border-radius: 3px;
  background-color: #f9fafb;
}
.delete-btn {
  width: 77px;
  height: 30px;
  background-color: #f8e5e5;
  border: none;
  border-radius: 6px;
  color: #ef4444;
  left: 300px;
  transition: 0.5s;
}
.delete-btn:hover {
  background-color: #ff0000f7;
  color: white;
}
.delete-btn:active {
  background-color: #d0d0d0;
}

.task-list {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 5px;
}
.txt {
  margin-left: 10px;
}
.text {
  font-family: "inter";
  font-weight: 400;
  font-style: "regular";
  font-size: 14px;
  color: #6b7280;
}
